@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

body {
    background-color: #D8E6DA;
    max-width: 1200px; /* Adjust the max-width as needed */
    margin: 20px auto; /* Creates top and side margins */
    padding: 0 20px; /* Adds padding to the content */
}

.logo {
    width: 100px; /* Измените размеры логотипа по вашему усмотрению */
    height: auto; /* Поддержка пропорций */
    margin-right: 240px; /* Отступ между логотипом и меню */
}


h1 {
    color: #459A7F;
    text-align: center;
    margin-top: 50px;
}

nav {
    background-color: rgba(240, 240, 240, 0);
    display: flex;
    align-items: center; /* Центрирование элементов по вертикали */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px; /* Add margin between buttons */
}

nav a {
    text-decoration: none;
    color: #459A7F;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 40px; /* Padding for the buttons */
    border: 1px solid #459A7F; /* Add border */
    border-radius: 50px; /* Add rounded corners */
}

nav a:hover {
    background-color: #459A7F; /* Dark green background on hover */
    color: #fff; /* White text on hover */
}

nav .logout a {
    text-decoration: none;
    color: #D27147;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 40px; /* Padding for the buttons */
    border: 1px solid #D27147; /* Add border */
    border-radius: 50px;
}

nav .logout a:hover {
    background-color: #D27147;
    color: #fff;
}

ul li {
    display: inline-block; /* Размещение элементов списка в строку */
    margin-right: 15px; /* Отступ между элементами меню */
}

ul li:last-child {
    margin-right: 0; /* Убираем отступ у последнего элемента */
}

.container {
    display: flex;
    flex-direction: row; /* Display cards in a row */
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #459A7F;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}
.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00C890;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-out;
}
.card:hover::before {
    clip-path: circle(300px at 80% -20%);
}
.card::after {
    content: 'KhPI';
    position: absolute;
    top: 30%;
    left: -10%;
    font-size: 10em;
    font-weight: 800;
    font-style: italic;
    color: rgb(30, 120, 95);
}
.card .imgBx {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 105%;
    height: 230px;
    transition: 0.5s;
}
.card:hover .imgBx {
    top: 0;
    transform: translateY(0) scale(0.8);
}
.card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -50%);
    width: 270px;
}
.card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.card:hover .contentBx {
    height: 210px;
}
.card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
}
.card .contentBx .size,
.card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}
.card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}
.card .contentBx .size h3,
.card .contentBx .color h3 {
    color: #ffffff;
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.card .contentBx .size h4,
.card .contentBx .color h4 {
    color: #dadada;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #c0f6eb;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    border-radius: 4px;
    cursor: pointer;
}
.card .contentBx .size span:hover {
    background: #86D8CF;
}
.card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.card .contentBx .color span:nth-child(2) {
    background: #00d3ee;
}
.card .contentBx .color span:nth-child(3) {
    background: #03a9f4;
}
.card .contentBx .color span:nth-child(4) {
    background: #e91e63;
}
.card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #86D8CF;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}
.card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.75s;
}

.card .contentBx .button-container {
    display: flex;
    justify-content: space-between; /* Исправлено: равномерное распределение по ширине */
    align-items: center;
    padding: 0 20px; /* Исправлено: добавлен отступ слева и справа */
    position: absolute;
    bottom: 30px; /* Исправлено: установка нижнего отступа */
    width: calc(100% - 40px); /* Исправлено: ширина контейнера с учетом отступов */
}

.card .contentBx .button-container button,
.card .contentBx .button-container input[type="number"] {
    flex: 0; /* Исправлено: кнопки занимают равную ширину */
    padding: 10px 25px; /* Поправлено: отступы */
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    color: #25443f;
    opacity: 0;
    transform: translateY(20px); /* Исправлено: поднято немного вверх */
    transition: 0.3s;
}

.card .contentBx .button-container input[type="number"] {
    padding: 10px 20px; /* Исправлено: отступы */
    margin-left: 10px; /* Исправлено: отступ от кнопки */
    width: 50px;
}

.card .contentBx:hover .button-container button,
.card .contentBx:hover .button-container input[type="number"] {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.25s; /* Исправлено: задержка анимации */
}

.card .delete-button-form {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1005;
}

.card .delete-button {
    background: none;
    border: none;
    color: #ff0000; /* Red color for the cross icon */
    font-size: 24px;
    cursor: pointer;
}

.card .delete-button:hover {
    color: #cc0000; /* Darker red color on hover */
}

.card .contentBx .button-container button:hover {
    background: #57f1b6; /* Изменен цвет кнопки "Buy" при наведении */
    cursor: pointer;
    transition: 0.25s;
}

.add-button {
    border: none;
    background-color: #3b6c64; /* Зеленый цвет */
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%; /* Используем 50% для круглой формы */
    width: 70px; /* Установим ширину */
    height: 70px; /* Установим высоту */
}

.add-button:hover {
    background-color: #25443f; /* Зеленый цвет при наведении */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1010;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20%; /* Adjusted width */
    height: auto; /* Adjusted height */
    padding: 20px;
    border-radius: 10px;
    overflow: auto; /* Enable scrolling if content overflows */
    background-color: #00C890;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-content.slideIn {
    transform: translateY(0);
    opacity: 1;
}

/* Slide out animation for the modal */
.modal-content.slideOut {
    transform: translateY(-100%);
    opacity: 0;
}

.modal-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    transform: translateY(0);
    opacity: 1;
}

.close {
    float: right;
    font-size: 50px;
    cursor: pointer;
    color: #d74b4b;

}


.close:hover,
.close:focus {
    color: #c04242;
    text-decoration: none;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1009;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#modalTitle {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: white;
}

label {
    font-weight: bold;
    color: #ffffff; /* Make the label white */
    font-size: 1.2em; /* Increase label font size */
    margin-bottom: 5px;
}

.modal-content input {
    width: calc(100% - 20px); /* Adjusted width with reduced padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стили для кнопки "Save" */
.button_save {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #37645c;
    color: white;
    font-size: 1em;
    cursor: pointer;
    width: 100px;
}

.button_save:hover {
    background-color: #274641;
}

.button-container {
    display: flex;
    justify-content: center;
}

#image_path {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white; /* Background color for contrast */
}

#article {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white; /* Background color for contrast */
}

/* Styles for file selection button */
#image_file {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff; /* Background color for contrast */
    color: #b72323; /* Text color */
    font-size: 1em;
}

/* CSS for the filters section */
.filters {
    display: flex;
    align-items: center;
    background-color: #45997e; /* Dark green background */
    padding: 15px; /* Increased padding */
    color: white; /* Text color */
    margin: 20px auto; /* Increased margin for top and bottom */
    max-width: 95%; /* Limit the maximum width */
    border-radius: 50px;
    justify-content: space-between; /* Evenly distribute items */
}

.filters .reset-button {
    padding: 10px 10px;
    border: none;
    border-radius: 50px;
    background-color: #D27147;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    width: 60px;
}

.filters .reset-button:hover {
    background-color: #be6640;
}

/* Style for each filter section */
.filter-category, .filter-price, .select-filter {
    display: flex;
    align-items: center;
}

/* Common styles for labels */
.filters label {
    margin-right: 10px;
}

/* Style for the price filter section */
.filter-price input[type="range"] {
    width: 150px;
    margin-right: 10px; /* Added margin between slider and dropdown */
}

/* Apply margin for separation between sections */
.filter-price {
    margin: 0 40px 0 72px; /* Adjusted margin for spacing (added left margin) */
}
/* Apply negative margin to reduce the distance between elements */
.filter-price:nth-child(2) {
    margin-right: 0px;
}

/* Apply custom styles for Min and Max Price labels and inputs */
.filter-price-label {
    margin-right: -10px; /* Adjust the margin between label and input */
}

.filter-price input[type="number"] {
    width: 80px; /* Adjust the width of the input if needed */
    margin-right: -20px; /* Adjust the margin between inputs */
}


.filter-category, .select-filter {
    margin: 0 20px; /* Adjusted margin for spacing */
}

.filter-category select, .filter-price select, .select-filter select {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #9decd6; /* New background color for dropdowns */
    color: #1e775f; /* Text color for dropdowns */
}

.filter-price input[type="number"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #9decd6;
    color: #1e775f;
    width: calc(80px - 2 * 5px); /* Adjust the width considering padding */
}